/* Items to reset */
.submissionLink,
.submissionLink h2,
.submissionDetails,
.voteArrows {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body
{
  width: 100%;
  max-width:1140px;
  min-width:600px;
  font-family: Verdana, sans;
  font-size: 10pt;
  margin: 0 auto;
  line-height: 1;
}

@font-face
{
  font-family: "Adelle Basic";
  font-weight: bold;
  src: url("../fonts/AdelleBasic_Bold.otf");
}

/* Header */

#header
{
  background-color: #293845;
  background-image: url("../images/haskellLogo.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 0.8em 0.5em 0.3em 40px;
  color: white;
  vertical-align: middle;
  margin-top: 0.5em;
  text-shadow: 1px 1px 1px #494949;
  line-height: 1.6em;
}

#header a
{
  color: white;
}

#header a.highlighted
{
  text-decoration: none;
}

h1
{
  display: inline;
  font-size: 1.6em;
  font-weight:bold;
  font-family: "Adelle Basic", Verdana, sans;
  margin-right:0.5em;
}

#headerRight
{
  float: right;
  line-height: 1.6em;
}

/* Content */

#content
{
  padding: 0.5em;
  background-color: #f9f9f9;
}

.submissionLink h2
{
  font-size: 1.3em;
  color: #4E6272;
}

.submissionLink h2 a
{
  color: #4E6272;
}

.submissionLink h2 a:visited
{
  color: #7492aa;
}

.submissionDetails, .commentDetails
{
  font-size: 0.85em;
  padding: 0.2em 0;
  color: #949494;
}

.submissionDetails a, .commentDetails a
{
  color: #949494;
}

.linkDomain
{
  color: #949494;
  font-size: 0.7em;
}

.postText
{
  padding:0.3em;
  line-height: 1.1;
}

.comments
{
  margin-left: 2em;
  margin-top:0.3em;
  min-width: 50%;
  border-left: 1px dashed #cccccc;
  padding-left:0.3em;
}

.comment
{
  margin-top:0.2em;
}

p
{
  margin:0.3em 0;
}

.voteArrows
{
  float: left;
  font-size: 1.3em;
  /* width:1em; */
  width: 16px;
  height: 32px;
  margin-top: 0.1em;
}

.voteArrows a
{
  float: left;
  margin:0 2px;
  text-decoration: none;
  line-height: 0.8em;
  color: #4E6272;
}

.voteArrows a:visited
{
  visibility: hidden;
}

.submissionLink
{
  clear: left;
}

.commentSort
{
  font-weight: bold;
  color: #949494;
}

.commentSort:visited
{
  color: #949494;
}

#listingSort
{
  margin-top: -0.5em;
  margin-bottom: 0.3em;
  line-height: 2em;
  background-color: #293845;
  float:right;
  padding:0 0.25em;
  color: white;
}

#listingSort a, #listingSort a:visited
{
  color: white;
}

.activeSort, #listingSort a
{
  padding:0 0.25em;
}
/* Footer */

#footer
{
  text-align: center;
  padding:1em;
}


/* Forms */
form
{
  margin: 0.3em 0;
}

form input, form label, form textarea
{
  display: block;
  margin: 0.3em 0;
}

form ul
{
  color: red;
  font-weight: bold;
}

label
{
  font-weight: bold;
}

/* Reset items */