
body
{
  width: 80%;
  min-width: 1000px;
  font-family: Verdana, sans;
  font-size: 10pt;
  margin: 0 auto;
}


@font-face
{
  font-family: "Adelle Basic";
  font-weight: bold;
  src: url("../fonts/AdelleBasic_Bold.otf");
}

/* Header */

#header
{
  background-color: #293845;
  background-image: url("../images/haskellLogo.png");
  background-repeat: no-repeat;
  background-position: 5px center;
  padding: 0.5em 0.5em 0.3em 40px;
  color: white;
  vertical-align: middle;
  margin-top: 0.5em;
  text-shadow: 1px 1px 1px #494949;
  line-height: 1.6em;
}

#header a
{
  color: white;
}

#header a.highlighted
{
  text-decoration: none;
}

h1
{
  display: inline;
  font-size: 1.6em;
  font-weight:bold;
  font-family: "Adelle Basic", Verdana, sans;
  margin-right:0.5em;
}

#headerRight
{
  float: right;
  line-height: 1.6em;
}

/* Content */

#content
{
  padding: 0.5em;
  background-color: #f9f9f9;
}

h2
{
  font-size: 1.3em;
  color: #4E6272;
}

h2 a
{
  color: #4E6272;
}

.submissionDetails, .commentDetails
{
  font-size: 0.85em;
  padding: 0.2em 0;
  color: #949494;
}

.submissionDetails a, .commentDetails a
{
  color: #949494;
}

.linkDomain
{
  color: #949494;
  font-size: 0.7em;
}

.postText
{
  padding:0.3em 0;
}

.comments
{
  margin-left: 2em;
  margin-top:0.3em;
  min-width: 50%;
  border-left: 1px dashed #cccccc;
  padding-left:0.3em;
}

.comment
{
  margin-top:0.2em;
}
/* Footer */

#footer
{
  text-align: center;
  padding:1em;
}